Instalacion de MongoDB en el python y lectura de las collections

In [1]:
!pip install pymongo
!pip install dnspython
!pip install seaborn
!pip install sklearn
!pip install xgboost

Requirement already satisfied: pymongo in c:\users\danie\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: dnspython in c:\users\danie\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: seaborn in c:\users\danie\anaconda3\lib\site-packages (0.11.1)
Requirement already satisfied: pandas>=0.23 in c:\users\danie\anaconda3\lib\site-packages (from seaborn) (1.3.4)
Requirement already satisfied: scipy>=1.0 in c:\users\danie\anaconda3\lib\site-packages (from seaborn) (1.6.2)
Requirement already satisfied: numpy>=1.15 in c:\users\danie\anaconda3\lib\site-packages (from seaborn) (1.21.3)
Requirement already satisfied: matplotlib>=2.2 in c:\users\danie\anaconda3\lib\site-packages (from seaborn) (3.3.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\danie\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\danie\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\danie\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\danie\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\danie\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: six in c:\users\danie\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\danie\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: sklearn in c:\users\danie\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\danie\anaconda3\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\danie\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\danie\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\danie\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.21.3)
Requirement already satisfied: joblib>=0.11 in c:\users\danie\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: xgboost in c:\users\danie\anaconda3\lib\site-packages (1.5.2)
Requirement already satisfied: scipy in c:\users\danie\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Requirement already satisfied: numpy in c:\users\danie\anaconda3\lib\site-packages (from xgboost) (1.21.3)

In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
from seaborn import scatterplot
from seaborn import regplot
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import TimeSeriesSplit
from xgboost import XGBRegressor


Found the solution in mondodb community.

Download https://letsencrypt.org/certs/lets-encrypt-r3.pem

rename file .pem to .cer
double click and install
and then try to run app your SSL issue will resolved. Cheers !!!

En caso de no funcionar el certificado local

In [2]:
estaciones=pd.read_csv('Estaciones.csv', sep=';', encoding="latin-1")
estaciones = estaciones[['Estacion','fecha','Curso Lectivo']]
estaciones

       Estacion       fecha  Curso Lectivo
0     Primavera  20/03/2020              1
1     Primavera  21/03/2020              1
2     Primavera  22/03/2020              1
3     Primavera  23/03/2020              1
4     Primavera  24/03/2020              1
...         ...         ...            ...
1743   Invierno  27/12/2024              0
1744   Invierno  28/12/2024              0
1745   Invierno  29/12/2024              0
1746   Invierno  30/12/2024              0
1747   Invierno  31/12/2024              0

[1748 rows x 3 columns]

In [3]:
comunidades = pd.read_csv('Comunidades-Provincias.csv',sep=';', encoding="latin-1")
comunidades = comunidades[['Codigo','CCAA','Provincia']]
comunidades['Provincia'] = comunidades['Provincia'].str.upper()
comunidades

   Codigo                        CCAA              Provincia
0      AN                   Andalucía                 HUELVA
1      AN                   Andalucía                  CADIZ
2      AN                   Andalucía                SEVILLA
3      AN                   Andalucía                   JAEN
4      AN                   Andalucía                CORDOBA
5      AN                   Andalucía                 MALAGA
6      AN                   Andalucía                ALMERIA
7      AN                   Andalucía                GRANADA
8      AR                      Aragón                 HUESCA
9      AR                      Aragón                 TERUEL
10     AR                      Aragón               ZARAGOZA
11     AS     Asturias, Principado de               ASTURIAS
12     CN                    Canarias  STA. CRUZ DE TENERIFE
13     CN                    Canarias             LAS PALMAS
14     CB                   Cantabria              CANTABRIA
15     CM        Castilla - La Mancha            GUADALAJARA
16     CM        Castilla - La Mancha                 TOLEDO
17     CM        Castilla - La Mancha               ALBACETE
18     CM        Castilla - La Mancha            CIUDAD REAL
19     CM        Castilla - La Mancha                 CUENCA
20     CL             Castilla y León               PALENCIA
21     CL             Castilla y León                SEGOVIA
22     CL             Castilla y León                 ZAMORA
23     CL             Castilla y León                  SORIA
24     CL             Castilla y León                  AVILA
25     CL             Castilla y León             VALLADOLID
26     CL             Castilla y León                   LEON
27     CL             Castilla y León                 BURGOS
28     CL             Castilla y León              SALAMANCA
29     CT                    Cataluña                 LLEIDA
30     CT                    Cataluña              BARCELONA
31     CT                    Cataluña              TARRAGONA
32     CT                    Cataluña                 GIRONA
33     CE                       Ceuta                  CEUTA
34     MD         Comunidad de Madrid                 MADRID
35     NC  Comunidad Foral de Navarra                NAVARRA
36     VC        Comunitat Valenciana               CASTELLO
37     VC        Comunitat Valenciana                ALACANT
38     VC        Comunitat Valenciana               VALENCIA
39     EX                 Extremadura                BADAJOZ
40     EX                 Extremadura                CACERES
41     GA                     Galicia                   LUGO
42     GA                     Galicia                OURENSE
43     GA                     Galicia             PONTEVEDRA
44     GA                     Galicia               A CORUÑA
45     IB               Illes Balears          ILLES BALEARS
46     ML                     Melilla                MELILLA
47     PV                  País Vasco                BIZKAIA
48     PV                  País Vasco               GIPUZCOA
49     PV                  País Vasco                  ARABA
50     MC            Región de Murcia                 MURCIA
51     RI                   Rioja, La               LA RIOJA

In [4]:
#Conexion a MongoDb
client = MongoClient('mongodb+srv://tfmeaecovid:eaemongo@cluster0.qwy07.mongodb.net/test')
#Seleccion de la Base de Datos
db = client.TFMCOVID
#Conversion de Collection a Dataframe de datos de los dataset
dataCasos = pd.DataFrame.from_records(db.Casos.find())
dataCasos = dataCasos.rename(columns={dataCasos.columns[3]: 'Año'})
#Cambio de llave a utilizar 0 para futuras referencias
dataCasos['Periodo'] = dataCasos['Columna1'].str.replace('T','0')
dataCasos = dataCasos.drop('Columna1',axis=1)
dataCasos['Año'] = pd.to_numeric(dataCasos['Año'], downcast='integer')
dataCasos['Periodo']= pd.to_numeric(dataCasos['Periodo'], downcast='integer')
dataCasos['Mes'] = pd.to_numeric(dataCasos['Mes'], downcast='integer')
dataCasos['num_casos'] = pd.to_numeric(dataCasos['num_casos'], downcast='integer')

In [5]:
dataClimaPorProv = pd.DataFrame.from_records(db.ClimaPorProvincia.find())
dataClimaPorProv['altitud'] = pd.to_numeric(dataClimaPorProv['altitud'])
dataClimaPorProv['tmed'] = dataClimaPorProv['tmed'].str.replace(',','.')
dataClimaPorProv['tmed'] = pd.to_numeric(dataClimaPorProv['tmed'])
dataClimaPorProv['tmin'] = dataClimaPorProv['tmin'].str.replace(',','.')
dataClimaPorProv['tmin'] = pd.to_numeric(dataClimaPorProv['tmin'])
dataClimaPorProv['tmax'] = dataClimaPorProv['tmax'].str.replace(',','.')
dataClimaPorProv['tmax'] = pd.to_numeric(dataClimaPorProv['tmax'])
dataClimaPorProv['presMin'] = dataClimaPorProv['presMin'].str.replace(',','.')
dataClimaPorProv['presMin'] = pd.to_numeric(dataClimaPorProv['presMin'])
dataClimaPorProv['presMax'] = dataClimaPorProv['presMax'].str.replace(',','.')
dataClimaPorProv['presMax'] = pd.to_numeric(dataClimaPorProv['presMax'])
dataClimaPorProv['provincia'] = dataClimaPorProv['provincia'].str.replace('ARABA/ALAVA','ARABA')
provincia_altitud  = dataClimaPorProv[['provincia','altitud']].drop_duplicates()
provincia_tmedia = dataClimaPorProv[['provincia','tmed']].groupby(['provincia']).mean()
provincia_tmin = dataClimaPorProv[['provincia','tmin']].groupby(['provincia']).mean()
provincia_tmax = dataClimaPorProv[['provincia','tmax']].groupby(['provincia']).mean()
provincia_presMax = dataClimaPorProv[['provincia','presMax']].groupby(['provincia']).mean()
provincia_presMin = dataClimaPorProv[['provincia','presMin']].groupby(['provincia']).mean()

MaximoPorProvincia = provincia_altitud.merge(provincia_tmedia, on="provincia").merge(provincia_tmin, on="provincia").merge(provincia_tmax, on="provincia").merge(provincia_presMax, on="provincia").merge(provincia_presMin, on="provincia")
MaximoPorProvincia['presMax'] = MaximoPorProvincia['presMax'].fillna(0)
MaximoPorProvincia['presMin'] = MaximoPorProvincia['presMin'].fillna(0)
MaximoPorProvincia = MaximoPorProvincia.rename(columns={"provincia":"Provincia"})

MaximoPorProvincia

,Provincia,altitud,tmed,tmin,tmax,presMax,presMin
0,ARABA,513,12.449180,6.635246,18.263525,961.806284,957.379235
1,ALBACETE,702,15.135792,8.394536,21.880191,939.377166,935.232187
2,ALICANTE,81,19.091667,14.197131,23.987295,1010.177049,1005.818579
3,ALMERIA,869,17.321844,11.470213,23.171773,920.839296,916.788732
4,ASTURIAS,127,14.136100,10.650069,17.620609,1005.882133,1000.679224
5,AVILA,1130,12.420628,6.675273,18.168443,892.843989,889.034563
6,BADAJOZ,185,17.796175,11.023497,24.570902,997.373087,993.206557
7,ILLES BALEARS,57,19.811111,16.770464,22.853305,1013.123592,1008.546479
8,BARCELONA,4,17.423416,13.619972,21.223003,1019.141185,1014.546694
9,BIZKAIA,42,15.396721,10.655328,20.137568,1016.988934,1011.557377
10,BURGOS,891,11.389071,5.286339,17.487978,918.937705,914.585519
11,CACERES,394,16.964891,11.199454,22.734153,974.188388,970.239344
12,CADIZ,2,19.459973,16.582377,22.338661,1019.549180,1015.840082
13,CANTABRIA,45,15.341679,12.106686,18.579516,0.000000,0.000000
14,CASTELLON,1220,11.704006,7.730663,15.675829,0.000000,0.000000
15,CEUTA,87,19.199180,16.318716,22.078825,1009.770315,1006.171272
16,CIUDAD REAL,628,16.359290,10.258470,22.458470,947.559290,943.560792
17,CORDOBA,90,18.947743,11.705198,26.203552,1009.223562,1004.591233
18,A CORUÑA,58,15.462295,12.501093,18.425956,1013.531327,1008.612722
19,CUENCA,928,13.582123,5.691760,21.472905,914.567778,910.125556
20,GIRONA,143,15.530501,8.923677,22.169626,1003.676454,998.983518
21,GRANADA,785,15.447352,7.684569,23.205144,930.532829,926.358699
22,GUADALAJARA,721,15.211885,9.110519,21.315574,935.861612,931.613798
23,GIPUZKOA,251,14.279372,11.232514,17.323634,990.296721,985.527322
24,HUELVA,572,17.538115,12.181148,22.897951,953.458743,949.933470
25,HUESCA,1040,12.551245,7.053441,18.048463,903.444833,899.434207
26,JAEN,202,17.916596,10.090638,25.742695,995.565887,990.940028
27,LLEIDA,677,12.698146,4.863053,20.531384,0.000000,0.000000
28,LUGO,445,12.870492,7.447951,18.294262,969.011586,964.380138
29,MADRID,540,15.571171,8.446246,22.698048,0.000000,0.000000
30,MALAGA,408,17.079552,11.433134,22.723134,971.757080,967.943953
31,MELILLA,52,19.674242,16.461157,22.887741,1013.405738,1009.678962
32,MURCIA,26,19.732558,15.450683,24.014774,1016.192760,1011.800546
33,NAVARRA,572,12.467807,7.331415,17.599844,0.000000,0.000000
34,OURENSE,840,12.141587,6.476744,17.805472,924.485910,920.309986
35,PALENCIA,874,11.688388,5.374454,18.005738,0.000000,0.000000
36,LAS PALMAS,25,21.480992,18.469008,24.495041,1016.663686,1013.240578
37,PONTEVEDRA,108,15.178279,10.700273,19.654372,1007.319262,1002.766120
38,LA RIOJA,353,14.433836,8.649452,20.216438,978.603018,973.445953
39,SALAMANCA,1960,6.462731,2.631481,10.293519,807.167133,803.706993
40,STA. CRUZ DE TENERIFE,115,20.488934,16.564208,24.411885,1006.530055,1003.087978
41,SEGOVIA,1798,8.052653,4.036327,12.183401,824.717791,821.238446
42,SEVILLA,550,16.258321,9.237696,23.282504,956.022096,952.443343
43,SORIA,1082,12.079235,5.774727,18.380738,897.706156,893.667442
44,TARRAGONA,71,16.909986,11.396990,22.424077,1010.723868,1006.116575
45,TERUEL,334,14.794429,8.273000,21.316286,0.000000,0.000000
46,TOLEDO,690,15.046463,8.347712,21.746741,939.911234,935.896117
47,VALENCIA,5,17.509091,13.111799,21.906770,0.000000,0.000000
48,VALLADOLID,735,13.829781,7.703005,19.951503,935.919536,931.497268
49,ZAMORA,715,13.413251,7.211475,19.618443,938.171721,933.543169
50,ZARAGOZA,582,14.456027,7.801233,21.111918,952.662295,947.733470

In [6]:
tempMaxima= pd.merge(comunidades,MaximoPorProvincia, on="Provincia", how="left")

tempMaxima = tempMaxima.groupby(['Codigo'], as_index=False).mean()
tempMaxima = tempMaxima.rename(columns={"Codigo":"ccaa_iso"})
tempMaxima

,ccaa_iso,altitud,tmed,tmin,tmax,presMax,presMin
0,AN,434.750,17.496187,11.298122,23.695677,969.618584,965.604942
1,AR,652.000,13.933900,7.709225,20.158889,618.702376,615.722559
2,AS,127.000,14.136100,10.650069,17.620609,1005.882133,1000.679224
3,CB,45.000,15.341679,12.106686,18.579516,0.000000,0.000000
4,CE,87.000,19.199180,16.318716,22.078825,1009.770315,1006.171272
5,CL,1148.125,11.166967,5.586635,16.761220,776.933004,773.409175
6,CM,733.800,15.067111,8.360599,21.774776,935.455416,931.285690
7,CN,70.000,20.984963,17.516608,24.453463,1011.596871,1008.164278
8,CT,223.750,15.640512,9.700923,21.587022,758.385377,754.911697
9,EX,289.500,17.380533,11.111475,23.652527,985.780738,981.722951
10,GA,362.750,13.913163,9.281515,18.545016,978.587021,974.017242
11,IB,57.000,19.811111,16.770464,22.853305,1013.123592,1008.546479
12,MC,26.000,19.732558,15.450683,24.014774,1016.192760,1011.800546
13,MD,540.000,15.571171,8.446246,22.698048,0.000000,0.000000
14,ML,52.000,19.674242,16.461157,22.887741,1013.405738,1009.678962
15,NC,572.000,12.467807,7.331415,17.599844,0.000000,0.000000
16,PV,277.500,13.922951,8.645287,19.200546,989.397609,984.468306
17,RI,353.000,14.433836,8.649452,20.216438,978.603018,973.445953
18,VC,5.000,17.509091,13.111799,21.906770,0.000000,0.000000

In [7]:
dataCasos

,_id,ccaa_iso,fecha,Año,Mes,Trimestre,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_ag,num_casos_prueba_elisa,num_casos_prueba_desconocida,Periodo
0,61ed75380634bb5d3b33416f,AR,01/01/2020,2020,1,T1,0,0,0,0,0,0,202001
1,61ed75380634bb5d3b334171,CB,01/01/2020,2020,1,T1,0,0,0,0,0,0,202001
2,61ed75380634bb5d3b334177,EX,01/01/2020,2020,1,T1,0,0,0,0,0,0,202001
3,61ed75380634bb5d3b334178,GA,01/01/2020,2020,1,T1,0,0,0,0,0,0,202001
4,61ed75380634bb5d3b334185,CE,02/01/2020,2020,1,T1,0,0,0,0,0,0,202001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14226,61ed753e0634bb5d3b337901,NC,18/01/2022,2022,1,T1,0,0,0,0,0,0,202201
14227,61ed753e0634bb5d3b3378f8,CM,18/01/2022,2022,1,T1,0,0,0,0,0,0,202201
14228,61ed753e0634bb5d3b3378f9,CN,18/01/2022,2022,1,T1,1,0,0,1,0,0,202201
14229,61ed753e0634bb5d3b3378fa,CT,18/01/2022,2022,1,T1,0,0,0,0,0,0,202201
14230,61ed753e0634bb5d3b337903,RI,18/01/2022,2022,1,T1,0,0,0,0,0,0,202201

Transformacion a dummies

In [8]:
dataCasos['fecha_int'] = pd.to_numeric(dataCasos['fecha'].str.replace('/',''), downcast='integer')
estaciones['fecha_int'] = pd.to_numeric(estaciones['fecha'].str.replace('/',''), downcast='integer')
FullCovid = pd.merge(dataCasos,estaciones, on="fecha_int")
FullCovid = FullCovid.merge(tempMaxima, on="ccaa_iso", how="inner")
FullCovid.to_csv('FullCovid.csv') #12730
fullCovidDummies =pd.get_dummies(FullCovid[['ccaa_iso','Estacion','Trimestre']])
fullCovidDummies['_id'] = FullCovid['_id']
FullCovid = FullCovid.merge(fullCovidDummies,how="inner")
FullCovid = FullCovid[['Año', 'Mes',
        'Periodo', 'fecha_int', 'Curso Lectivo', 'altitud', 'tmed', 'tmin', 'tmax',
       'presMax', 'presMin', 'ccaa_iso_AN', 'ccaa_iso_AR', 'ccaa_iso_AS',
       'ccaa_iso_CB', 'ccaa_iso_CE', 'ccaa_iso_CL', 'ccaa_iso_CM',
       'ccaa_iso_CN', 'ccaa_iso_CT', 'ccaa_iso_EX', 'ccaa_iso_GA',
       'ccaa_iso_IB', 'ccaa_iso_MC', 'ccaa_iso_MD', 'ccaa_iso_ML',
       'ccaa_iso_NC', 'ccaa_iso_PV', 'ccaa_iso_RI', 'ccaa_iso_VC',
       'Estacion_Invierno', 'Estacion_Otoño', 'Estacion_Primavera',
       'Estacion_Verano', 'Trimestre_T1', 'Trimestre_T2', 'Trimestre_T3',
       'Trimestre_T4','num_casos']]
FullCovid

,Año,Mes,Periodo,fecha_int,Curso Lectivo,altitud,tmed,tmin,tmax,presMax,...,ccaa_iso_VC,Estacion_Invierno,Estacion_Otoño,Estacion_Primavera,Estacion_Verano,Trimestre_T1,Trimestre_T2,Trimestre_T3,Trimestre_T4,num_casos
0,2020,3,202001,20032020,1,434.75,17.496187,11.298122,23.695677,969.618584,...,0,0,0,1,0,1,0,0,0,760
1,2020,3,202001,21032020,1,434.75,17.496187,11.298122,23.695677,969.618584,...,0,0,0,1,0,1,0,0,0,523
2,2020,3,202001,22032020,1,434.75,17.496187,11.298122,23.695677,969.618584,...,0,0,0,1,0,1,0,0,0,492
3,2020,3,202001,23032020,1,434.75,17.496187,11.298122,23.695677,969.618584,...,0,0,0,1,0,1,0,0,0,534
4,2020,3,202001,24032020,1,434.75,17.496187,11.298122,23.695677,969.618584,...,0,0,0,1,0,1,0,0,0,475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12725,2022,1,202201,14012022,1,5.00,17.509091,13.111799,21.906770,0.000000,...,1,1,0,0,0,1,0,0,0,11442
12726,2022,1,202201,15012022,1,5.00,17.509091,13.111799,21.906770,0.000000,...,1,1,0,0,0,1,0,0,0,5725
12727,2022,1,202201,16012022,1,5.00,17.509091,13.111799,21.906770,0.000000,...,1,1,0,0,0,1,0,0,0,2203
12728,2022,1,202201,17012022,1,5.00,17.509091,13.111799,21.906770,0.000000,...,1,1,0,0,0,1,0,0,0,308
12729,2022,1,202201,18012022,1,5.00,17.509091,13.111799,21.906770,0.000000,...,1,1,0,0,0,1,0,0,0,0

Creacion de Dataset a Predecir

In [9]:
PrediccionCovid = pd.DataFrame()

PrediccionCovid['fecha'] = pd.date_range(start='19/1/2022', periods=712, freq='D')
PrediccionCovid['fecha'] = PrediccionCovid['fecha'].astype(str)
PrediccionCovid['Año'] =PrediccionCovid.fecha.str.split("-").str[0]
PrediccionCovid['Mes'] =PrediccionCovid.fecha.str.split("-").str[1]
PrediccionCovid['Dia'] =PrediccionCovid.fecha.str.split("-").str[2]
PrediccionCovid['fecha_int']= PrediccionCovid['Dia'] + PrediccionCovid['Mes'] + PrediccionCovid['Año']
PrediccionC2= PrediccionCovid
acomul = pd.DataFrame()
unicasComun= pd.unique(comunidades['Codigo'])
for indiceComunidad in unicasComun:
    
    codigo = indiceComunidad
    PrediccionC2['Codigo'] = codigo
    acomul = acomul.append(PrediccionC2)

PrediccionCovid = acomul
PrediccionCovid['num_casos'] = 0
PrediccionCovid['fecha_int'] = pd.to_numeric(PrediccionCovid['fecha_int'], downcast='integer')
PrediccionCovid = pd.merge(PrediccionCovid,estaciones, on="fecha_int")
PrediccionCovid['Trimestre'] = ["T1" if ele =="01" or ele =="02" or ele == "03" else "T2" if ele == "04" or ele == "05" or ele == "06" else "T3" if  ele == "07" or ele == "08" or ele == "09" else "T4" for ele in PrediccionCovid["Mes"]]
PrediccionCovid['Periodo'] = PrediccionCovid['Año'] + PrediccionCovid['Trimestre'].str.replace('T','0')

PrediccionCovid

,fecha_x,Año,Mes,Dia,fecha_int,Codigo,num_casos,Estacion,fecha_y,Curso Lectivo,Trimestre,Periodo
0,2022-01-19,2022,01,19,19012022,AN,0,Invierno,19/01/2022,1,T1,202201
1,2022-01-19,2022,01,19,19012022,AR,0,Invierno,19/01/2022,1,T1,202201
2,2022-01-19,2022,01,19,19012022,AS,0,Invierno,19/01/2022,1,T1,202201
3,2022-01-19,2022,01,19,19012022,CN,0,Invierno,19/01/2022,1,T1,202201
4,2022-01-19,2022,01,19,19012022,CB,0,Invierno,19/01/2022,1,T1,202201
...,...,...,...,...,...,...,...,...,...,...,...,...
13523,2023-12-31,2023,12,31,31122023,IB,0,Invierno,31/12/2023,0,T4,202304
13524,2023-12-31,2023,12,31,31122023,ML,0,Invierno,31/12/2023,0,T4,202304
13525,2023-12-31,2023,12,31,31122023,PV,0,Invierno,31/12/2023,0,T4,202304
13526,2023-12-31,2023,12,31,31122023,MC,0,Invierno,31/12/2023,0,T4,202304
13527,2023-12-31,2023,12,31,31122023,RI,0,Invierno,31/12/2023,0,T4,202304

In [23]:
dataClimaPorProvPrediccion = dataClimaPorProv[['fecha','provincia','tmed','tmin', 'tmax',
       'presMax', 'presMin']]
dataClimaPorProvPrediccion['Mes'] = dataClimaPorProvPrediccion['fecha'].str.split('-').str[1]
dataClimaPorProvPrediccion['Dia'] = dataClimaPorProvPrediccion['fecha'].str.split('-').str[2]
#dataClimaPorProvPrediccion['Lag1YearTempMed'] = dataClimaPorProvPrediccion['tmed']
#dtst  = dataClimaPorProvPrediccion.groupby(['provincia','Mes','Dia']).mean()
dtst2 = pd.merge(comunidades,dataClimaPorProvPrediccion, left_on=["Provincia"], right_on = ["provincia"], how="left")
dtst3 = dtst2.groupby(['Codigo','Mes','Dia']).mean()
pruebaMe = pd.merge(PrediccionCovid,dtst3, how="left", on=["Codigo",'Mes','Dia']).drop_duplicates()
altitud = tempMaxima[['ccaa_iso','altitud']]
finalPredic = pd.merge(pruebaMe,altitud, how="inner", left_on="Codigo", right_on = "ccaa_iso")
finalPredic = finalPredic.fillna(0).sort_values(by=['Año','Mes','Dia'])
finalPredic = finalPredic[['Año', 'Mes','fecha_x','Periodo', 'fecha_int','Curso Lectivo', 'altitud','tmed', 'tmin', 'tmax',
       'presMax', 'presMin', 'Codigo','Estacion', 'Trimestre','num_casos']]
finalPredic = finalPredic.rename(columns={"Codigo":"ccaa_iso"})
finalPredic = finalPredic.sort_values(by=['ccaa_iso','Año','Mes'])
finalPredic.to_csv('Predicciones.csv')
finalPredicDummies =pd.get_dummies(finalPredic[['ccaa_iso','Estacion','Trimestre']])
finalPredic = finalPredic.join(finalPredicDummies)
finalPredic = finalPredic[['Año', 'Mes',
        'Periodo', 'fecha_int', 'Curso Lectivo', 'altitud', 'tmed', 'tmin', 'tmax',
       'presMax', 'presMin', 'ccaa_iso_AN', 'ccaa_iso_AR', 'ccaa_iso_AS',
       'ccaa_iso_CB', 'ccaa_iso_CE', 'ccaa_iso_CL', 'ccaa_iso_CM',
       'ccaa_iso_CN', 'ccaa_iso_CT', 'ccaa_iso_EX', 'ccaa_iso_GA',
       'ccaa_iso_IB', 'ccaa_iso_MC', 'ccaa_iso_MD', 'ccaa_iso_ML',
       'ccaa_iso_NC', 'ccaa_iso_PV', 'ccaa_iso_RI', 'ccaa_iso_VC',
       'Estacion_Invierno', 'Estacion_Otoño', 'Estacion_Primavera',
       'Estacion_Verano', 'Trimestre_T1', 'Trimestre_T2', 'Trimestre_T3',
       'Trimestre_T4','num_casos']]

finalPredic['Año'] = pd.to_numeric(finalPredic['Año'], downcast='integer')
finalPredic['Periodo']= pd.to_numeric(finalPredic['Periodo'], downcast='integer')
finalPredic['Mes'] = pd.to_numeric(finalPredic['Mes'], downcast='integer')
finalPredic

<ipython-input-23-2b6fe66c8576>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataClimaPorProvPrediccion['Mes'] = dataClimaPorProvPrediccion['fecha'].str.split('-').str[1]
<ipython-input-23-2b6fe66c8576>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataClimaPorProvPrediccion['Dia'] = dataClimaPorProvPrediccion['fecha'].str.split('-').str[2]

,Año,Mes,Periodo,fecha_int,Curso Lectivo,altitud,tmed,tmin,tmax,presMax,...,ccaa_iso_VC,Estacion_Invierno,Estacion_Otoño,Estacion_Primavera,Estacion_Verano,Trimestre_T1,Trimestre_T2,Trimestre_T3,Trimestre_T4,num_casos
0,2022,1,202201,19012022,1,434.75,8.353333,3.160000,13.506667,973.960000,...,0,1,0,0,0,1,0,0,0,0
1,2022,1,202201,20012022,1,434.75,7.525000,3.981250,11.087500,968.300000,...,0,1,0,0,0,1,0,0,0,0
2,2022,1,202201,21012022,1,434.75,9.362500,6.518750,12.193750,967.543750,...,0,1,0,0,0,1,0,0,0,0
3,2022,1,202201,22012022,1,434.75,9.773333,6.720000,12.826667,970.820000,...,0,1,0,0,0,1,0,0,0,0
4,2022,1,202201,23012022,1,434.75,9.340000,6.366667,12.313333,972.393333,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8539,2023,12,202304,27122023,0,5.00,10.200000,2.000000,18.400000,0.000000,...,1,1,0,0,0,0,0,0,1,0
8540,2023,12,202304,28122023,0,5.00,13.600000,10.300000,16.800000,0.000000,...,1,1,0,0,0,0,0,0,1,0
8541,2023,12,202304,29122023,0,5.00,11.500000,8.400000,14.600000,0.000000,...,1,1,0,0,0,0,0,0,1,0
8542,2023,12,202304,30122023,0,5.00,11.000000,7.300000,14.700000,0.000000,...,1,1,0,0,0,0,0,0,1,0
8543,2023,12,202304,31122023,0,5.00,11.000000,5.200000,16.700000,0.000000,...,1,1,0,0,0,0,0,0,1,0

Entrenamiento de modelo

Definicion de Datos de entrenamiento y prediccion

Solo funciona con 1-0

In [25]:
X = FullCovid[['Año', 'Mes',
        'Periodo', 'fecha_int', 'Curso Lectivo', 'altitud', 'tmed', 'tmin', 'tmax',
       'presMax', 'presMin', 'ccaa_iso_AN', 'ccaa_iso_AR', 'ccaa_iso_AS',
       'ccaa_iso_CB', 'ccaa_iso_CE', 'ccaa_iso_CL', 'ccaa_iso_CM',
       'ccaa_iso_CN', 'ccaa_iso_CT', 'ccaa_iso_EX', 'ccaa_iso_GA',
       'ccaa_iso_IB', 'ccaa_iso_MC', 'ccaa_iso_MD', 'ccaa_iso_ML',
       'ccaa_iso_NC', 'ccaa_iso_PV', 'ccaa_iso_RI', 'ccaa_iso_VC',
       'Estacion_Invierno', 'Estacion_Otoño', 'Estacion_Primavera',
       'Estacion_Verano', 'Trimestre_T1', 'Trimestre_T2', 'Trimestre_T3',
       'Trimestre_T4']]
y = FullCovid[['num_casos']]

X_Predict = finalPredic[['Año', 'Mes',
        'Periodo', 'fecha_int', 'Curso Lectivo', 'altitud', 'tmed', 'tmin', 'tmax',
       'presMax', 'presMin', 'ccaa_iso_AN', 'ccaa_iso_AR', 'ccaa_iso_AS',
       'ccaa_iso_CB', 'ccaa_iso_CE', 'ccaa_iso_CL', 'ccaa_iso_CM',
       'ccaa_iso_CN', 'ccaa_iso_CT', 'ccaa_iso_EX', 'ccaa_iso_GA',
       'ccaa_iso_IB', 'ccaa_iso_MC', 'ccaa_iso_MD', 'ccaa_iso_ML',
       'ccaa_iso_NC', 'ccaa_iso_PV', 'ccaa_iso_RI', 'ccaa_iso_VC',
       'Estacion_Invierno', 'Estacion_Otoño', 'Estacion_Primavera',
       'Estacion_Verano', 'Trimestre_T1', 'Trimestre_T2', 'Trimestre_T3',
       'Trimestre_T4']]
y_predict = finalPredic[['num_casos']]

In [13]:
tscv = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)

Regression Lineal

In [44]:
LinearAccuracyFinal = 0
tscv = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)
for train_index, test_index in tscv.split(X):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y.loc[train_index], y.loc[test_index]
    reg = LinearRegression()
    reg.fit(X_train,y_train)
    LinearAccuracy = reg.score(X_test,y_test)
    if(LinearAccuracy > LinearAccuracyFinal):
       LinearAccuracyFinal = LinearAccuracy

print('Final Accuracy: ',LinearAccuracyFinal)

Final Accuracy:  0.3056192446260432

Random Forest

In [38]:
AccurateMaxDepth = 0
RandomAccuracyFinal = 0
for train_index, test_index in tscv.split(X):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y.loc[train_index], y.loc[test_index]
    for maxDepths in range(1,11):
        RandomModel = RandomForestClassifier(n_estimators = 500, max_depth=maxDepths, random_state=0)
        RandomModel.fit(X_train,y_train.values.ravel())
        RandomForestAccuracy = RandomModel.score(X_test,y_test)
        if(RandomForestAccuracy>RandomAccuracyFinal):
            RandomAccuracyFinal = RandomForestAccuracy
            AccurateMaxDepth = maxDepths

print('Max Depth: ',AccurateMaxDepth)
print('Final Accuracy: ',RandomAccuracyFinal)

Max Depth:  6
Final Accuracy:  0.056577086280056574

Boosting Model

In [39]:
BoostAccurateMaxDepth = 0
BoostAccuracyFinal = 0
for train_index, test_index in tscv.split(X):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y.loc[train_index], y.loc[test_index]
    for maxDepths in range(1,11):
       BoostModel = XGBRegressor(n_estimators = 1000, max_depth=maxDepths, random_state=0)
       BoostModel.fit(X_train,y_train)
       BoostAccuracy = BoostModel.score(X_test,y_test)
       if(BoostAccuracy>BoostAccuracyFinal):
            BoostAccuracyFinal = BoostAccuracy
            BoostAccurateMaxDepth = maxDepths

print('Max Depth: ',BoostAccurateMaxDepth)
print('Final Accuracy: ',BoostAccuracyFinal)

Max Depth:  4
Final Accuracy:  0.5226887438817684

Entrenamiento Final

In [26]:
 BoostModelFinal = RandomForestClassifier(n_estimators = 1000, max_depth=6, random_state=0)
 BoostModelFinal.fit(X,y.values.ravel())
 predictions = BoostModelFinal.predict(X_Predict)
 finalPredic['num_casos'] = predictions
 finalPredic['num_casos']  = finalPredic['num_casos'].astype(int)

In [27]:
PrediccionCovid['num_casos'] = predictions

In [44]:
PrediccionCovid = PrediccionCovid.rename(columns={"fecha_x":"fecha", "Codigo":"ccaa_iso"})
PrediccionCovid = PrediccionCovid[['fecha', 'Año', 'Mes', 'fecha_int', 'ccaa_iso', 'num_casos',
       'Estacion', 'Curso Lectivo', 'Trimestre', 'Periodo']]
PrediccionCovid

,fecha,Año,Mes,fecha_int,ccaa_iso,num_casos,Estacion,Curso Lectivo,Trimestre,Periodo
0,2022-01-19,2022,01,19012022,AN,0,Invierno,1,T1,202201
1,2022-01-19,2022,01,19012022,AR,0,Invierno,1,T1,202201
2,2022-01-19,2022,01,19012022,AS,0,Invierno,1,T1,202201
3,2022-01-19,2022,01,19012022,CN,0,Invierno,1,T1,202201
4,2022-01-19,2022,01,19012022,CB,0,Invierno,1,T1,202201
...,...,...,...,...,...,...,...,...,...,...
13523,2023-12-31,2023,12,31122023,IB,0,Invierno,0,T4,202304
13524,2023-12-31,2023,12,31122023,ML,0,Invierno,0,T4,202304
13525,2023-12-31,2023,12,31122023,PV,0,Invierno,0,T4,202304
13526,2023-12-31,2023,12,31122023,MC,0,Invierno,0,T4,202304
13527,2023-12-31,2023,12,31122023,RI,0,Invierno,0,T4,202304

In [45]:
dataCasosConEstacion = pd.merge(dataCasos,estaciones, on="fecha_int")
dataCasosConEstacion = dataCasosConEstacion.rename(columns={"fecha_x":"fecha"})
dataCasosConEstacion = dataCasosConEstacion[['ccaa_iso', 'fecha', 'Año', 'Mes', 'Trimestre', 'num_casos',
        'Periodo', 'fecha_int', 'Estacion',
       'Curso Lectivo']]
dataCasosConEstacion

,ccaa_iso,fecha,Año,Mes,Trimestre,num_casos,Periodo,fecha_int,Estacion,Curso Lectivo
0,AN,20/03/2020,2020,3,T1,760,202001,20032020,Primavera,1
1,AR,20/03/2020,2020,3,T1,240,202001,20032020,Primavera,1
2,GA,20/03/2020,2020,3,T1,465,202001,20032020,Primavera,1
3,CE,20/03/2020,2020,3,T1,6,202001,20032020,Primavera,1
4,EX,20/03/2020,2020,3,T1,140,202001,20032020,Primavera,1
...,...,...,...,...,...,...,...,...,...,...
12725,NC,18/01/2022,2022,1,T1,0,202201,18012022,Invierno,1
12726,CM,18/01/2022,2022,1,T1,0,202201,18012022,Invierno,1
12727,CN,18/01/2022,2022,1,T1,1,202201,18012022,Invierno,1
12728,CT,18/01/2022,2022,1,T1,0,202201,18012022,Invierno,1
12729,RI,18/01/2022,2022,1,T1,0,202201,18012022,Invierno,1

In [46]:
ResultadoFinal = pd.DataFrame()
ResultadoFinal2 = pd.concat([dataCasosConEstacion,PrediccionCovid])

ResultadoFinal2.to_csv('ResultadoFinalModeloCovidSinDummies.csv')

In [28]:
finalPredic.to_csv('Prueba.csv')

In [15]:
ResultadoFinal = pd.concat([FullCovid,finalPredic])
ResultadoFinal.to_csv('ResultadoFinalModeloCovid.csv')

In [22]:
RS = pd.DataFrame(ResultadoFinal.groupby(by=['Periodo'])['num_casos'].sum())
RS

         num_casos
Periodo
202001       78257
202002       92144
202003      572036
202004     1177854
202101     1319036
202102      534329
202103     1108678
202104     1825734
202201     1727120
202202       10549
202203        1840
202204        3742
202301       33763
202302       10550
202303        1855
202304        3742