In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
from seaborn import scatterplot
from seaborn import regplot
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor 
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import TimeSeriesSplit
from xgboost import XGBRegressor

In [3]:
dataParaPIB = pd.read_csv('csvTableau/ParoFinalPorCCAAIntegrado.csv')
dataParaPIB = dataParaPIB[['Periodo','num_casos','Total Paro']].groupby(by="Periodo", as_index=False).sum()
dataParaPIB

    Periodo  num_casos   Total Paro
0    201001          0  4617.700000
1    201002          0  4654.900000
2    201003          0  4585.700000
3    201004          0  4701.800000
4    201101          0  4921.400000
5    201102          0  4844.300000
6    201103          0  4998.500000
7    201104          0  5286.700000
8    201201          0  5668.400000
9    201202          0  5731.400000
10   201203          0  5823.900000
11   201204          0  6021.600000
12   201301          0  6278.000000
13   201302          0  6047.600000
14   201303          0  5942.400000
15   201304          0  5936.000000
16   201401          0  5932.500000
17   201402          0  5623.000000
18   201403          0  5427.300000
19   201404          0  5457.500000
20   201501          0  5444.900000
21   201502          0  5149.200000
22   201503          0  4850.300000
23   201504          0  4779.200000
24   201601          0  4791.600000
25   201602          0  4574.800000
26   201603          0  4321.300000
27   201604          0  4237.900000
28   201701          0  4255.800000
29   201702          0  3913.700000
30   201703          0  3731.600000
31   201704          0  3766.300000
32   201801          0  3795.900000
33   201802          0  3490.600000
34   201803          0  3326.300000
35   201804          0  3304.800000
36   201901          0  3354.400000
37   201902          0  3230.200000
38   201903          0  3214.000000
39   201904          0  3192.000000
40   202001     934961  3313.900000
41   202002    1103579  3368.400000
42   202003    6850799  3723.600000
43   202004   14041451  3719.400000
44   202101   15790846  3653.700000
45   202102    6411176  3543.500000
46   202103   13285322  3416.400000
47   202104   21827643  3104.100000
48   202201   20660184  3743.771448
49   202202     142812  3739.411991
50   202203     107760  3739.411991
51   202204     141024  3739.504638
52   202301      32664  3739.425529
53   202302      37416  3739.425529
54   202303     201372  3739.425529
55   202304     194700  3739.825110

In [4]:
#Conexion a MongoDb
client = MongoClient('mongodb+srv://tfmeaecovid:eaemongo@cluster0.qwy07.mongodb.net/test')
#Seleccion de la Base de Datos
db = client.TFMCOVID
#Conversion de Collection a Dataframe de datos de los dataset
dataPIB = pd.DataFrame.from_records(db.PIB.find())
dataPIB = dataPIB.rename(columns={dataPIB.columns[1]: 'Periodo'})
#Cambio de llave a utilizar 0 para futuras referencias
dataPIB['Periodo'] = dataPIB['Periodo'].str.replace('T','0')
#dataCasos = dataCasos.drop('Columna1',axis=1)
dataPIB['PIB Trimestral'] = dataPIB['PIB Trimestral'].str.replace(',','.').astype(float)
dataPIB['Periodo'] = pd.to_numeric(dataPIB['Periodo'], downcast='integer')
dataPIB = dataPIB[['Periodo','PIB Trimestral']]
dataPIBConCasosYParo = dataPIB.merge(dataParaPIB, on="Periodo", how="left").sort_values(by='Periodo')
dataPIBConCasosYParo

    Periodo  PIB Trimestral  num_casos  Total Paro
22   201001         268.031          0      4617.7
46   201002         267.355          0      4654.9
35   201003         267.959          0      4585.7
45   201004         269.364          0      4701.8
44   201101         267.991          0      4921.4
21   201102         267.784          0      4844.3
20   201103         265.547          0      4998.5
43   201104         262.441          0      5286.7
34   201201         261.538          0      5668.4
42   201202         258.877          0      5731.4
8    201203         257.492          0      5823.9
19   201204         253.192          0      6021.6
41   201301         255.914          0      6278.0
18   201302         255.183          0      6047.6
17   201303         254.815          0      5942.4
40   201304         254.436          0      5936.0
39   201401         256.308          0      5932.5
38   201402         256.980          0      5623.0
7    201403         258.252          0      5427.3
16   201404         260.618          0      5457.5
37   201501         265.848          0      5444.9
33   201502         268.181          0      5149.2
32   201503         270.633          0      4850.3
15   201504         272.928          0      4779.2
6    201601         275.039          0      4791.6
14   201602         276.760          0      4574.8
13   201603         280.145          0      4321.3
5    201604         281.896          0      4237.9
12   201701         285.723          0      4255.8
11   201702         289.461          0      3913.7
31   201703         291.234          0      3731.6
36   201704         295.449          0      3766.3
30   201801         296.217          0      3795.9
4    201802         299.384          0      3490.6
24   201803         301.953          0      3326.3
29   201804         305.705          0      3304.8
28   201901         307.704          0      3354.4
27   201902         309.942          0      3230.2
3    201903         311.706          0      3214.0
2    201904         315.023          0      3192.0
26   202001         296.636     934961      3313.9
10   202002         245.851    1103579      3368.4
25   202003         289.165    6850799      3723.6
9    202004         290.296   14041451      3719.4
1    202101         288.038   15790846      3653.7
23   202102         292.209    6411176      3543.5
0    202103         303.717   13285322      3416.4

In [6]:
PIBpredic = pd.read_csv('DatosPIBPrediccion.csv',sep=';', encoding="latin-1")
PIBpredic = PIBpredic.rename(columns={"Total":"Total Paro"})
PIBpredic

   Periodo  num_casos   Total Paro  PIB Trimestral
0   202104   71203626  3104.200000               0
1   202201   69084800  3246.194386               0
2   202202     421960  3373.258353               0
3   202203      73600  3373.258353               0
4   202204     149680  3373.258353               0
5   202301    1350520  3373.258353               0
6   202302     422000  3373.258353               0
7   202303      74200  3373.258353               0
8   202304     149680  3373.258353               0

In [8]:
X = dataPIBConCasosYParo[['Periodo','num_casos','Total Paro']]
y = dataPIBConCasosYParo[['PIB Trimestral']]

X_predict = PIBpredic[['Periodo','num_casos','Total Paro']]
y_predict = PIBpredic[['PIB Trimestral']]

In [9]:
ModeloPIB = RandomForestRegressor(n_estimators = 1000, max_depth=9, random_state=0)
ModeloPIB.fit(X,y.values.ravel())
predictions = ModeloPIB.predict(X_predict)
PIBpredic['PIB Trimestral'] = predictions
PIBpredic

   Periodo  num_casos   Total Paro  PIB Trimestral
0   202104   71203626  3104.200000      308.725723
1   202201   69084800  3246.194386      307.766528
2   202202     421960  3373.258353      270.051062
3   202203      73600  3373.258353      270.051062
4   202204     149680  3373.258353      270.051062
5   202301    1350520  3373.258353      267.539817
6   202302     422000  3373.258353      270.051062
7   202303      74200  3373.258353      270.051062
8   202304     149680  3373.258353      270.051062

In [11]:
PIBFinalFinal = pd.concat([dataPIBConCasosYParo,PIBpredic])
PIBFinalFinal.to_csv('ModeloFinalPIBIntegrado.csv')